@use "./UserHeader/UserHeader.scss";
@use "./UserProfile/UserProfile.scss";

.UserPage {
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__cards-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
  }

  &__mobile-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__mobile-card {
    width: 90%;
    padding: 1em;
  }

  &__mobile-card-actions {
    display: flex;
    justify-content: space-around;
    margin-top: 1em;
  }

  &__mobile-card-question {
    margin-bottom: 0.5em;
    font-weight: 600;
    text-overflow: ellipsis;
  }

  &__mobile-card-answer {
    margin-bottom: 0.5em;
    font-weight: 600;
    text-overflow: ellipsis;
  }

  &__tab-title {
    margin: 1em;
    gap: 10px;
  }

  &__delete-selected-button {
    background-color: #ff4d4f;
    border-color: #ff4d4f;
    width: 180px;

    &:hover {
      background-color: #ff7875;
      border-color: #ff7875;
    }
  }
}
