@use "../../../styles//variables.scss" as *;
.formError {
  color: red;
  font-size: 0.8em;
}

.LoginPage {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - $NAVBAR_HEIGHT);
  background: linear-gradient(to bottom, #4f8ff7, #3ddbd9);
  padding: 1rem;

  &__form {
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 2rem;
    max-width: 400px;
    width: 100%;
    text-align: center;
  }

  &__form-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;

    .LoginPage__remember-me {
      display: flex;
      align-items: center;
      font-size: 0.875rem;
      color: lighten($text-color, 20%);
      input {
        margin-right: 0.5rem;
      }
    }

    .link {
      font-size: 0.875rem;
      color: $link-color;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__title {
    font-size: 1.8rem;
    font-weight: 700;
    color: #333;
    margin-bottom: 1rem;
  }

  &__subitle {
    font-size: 0.875rem;
    margin-bottom: 1.5rem;
    color: lighten($text-color, 20%);
  }

  &__link {
    color: $link-color;
    font-weight: 500;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 1.5rem;
  }
}
