.Loader {
  display: inline-block;
  position: relative;
  &::after,
  &::before {
    content: "";
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 3px solid #1800d1;
    position: absolute;
    left: 0;
    top: 0;
    animation: animloader 2s linear infinite;
  }
  &::after {
    content: "";
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 3px solid #00eaff;
    position: absolute;
    left: 0;
    top: 0;
    animation: animloader 2s linear infinite;
    animation-delay: 1s;
  }

  &--small {
    width: 24px;
    height: 24px;
    &::after,
    &::before {
      width: 24px;
      height: 24px;
      border-width: 2px;
    }
  }
  &--medium {
    width: 36px;
    height: 36px;
    &::after,
    &::before {
      width: 36px;
      height: 36px;
      border-width: 3px;
    }
  }
  &--large {
    width: 48px;
    height: 48px;
    &::after,
    &::before {
      width: 48px;
      height: 48px;
      border-width: 4px;
    }
  }
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
