@use "../../../styles/variables.scss" as *;

.Button {
  background: $primary-color;
  color: #ffffff;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.3s;
  max-width: 250px;

  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background: darken($primary-color, 5%);
  }

  &--danger {
    background: $danger-color !important;
    &:hover {
      background: darken($danger-color, 5%);
    }
  }

  &__icon {
    margin-right: 0.5rem;
    max-width: 24px;
    max-height: 24px;
  }

  &--secondary {
    background: $secondary-color !important;
    &:hover {
      background: darken($secondary-color, 5%);
    }
  }

  &:disabled {
    background: $disabled-color;
    color: $disabled-text-color;
    cursor: not-allowed !important;
    opacity: 0.6;

    &:hover {
      background: $disabled-color;
    }
  }

  &__loader {
    margin-left: 0.5rem;
    width: 24px !important;
    height: 24px !important;
    transform: translate(-50%, -50%);
  }
}
