@use "../../../styles/variables.scss" as *;
@use "sass:color";

.Button {
  background: $primary-color;
  color: #ffffff;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.3s;
  max-width: 250px;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background: color.scale($primary-color, $lightness: -5%);
  }

  &--danger {
    background: $danger-color !important;
    &:hover {
      background: color.scale($danger-color, $lightness: -5%);
    }
  }

  &__icon {
    margin-right: 0.5rem;
    max-width: 24px;
    max-height: 24px;
  }

  &--secondary {
    background: $secondary-color !important;
    &:hover {
      background: color.scale($secondary-color, $lightness: -5%);
    }
  }

  &:disabled {
    background: $disabled-color;
    color: $disabled-text-color;
    cursor: not-allowed !important;
    opacity: 0.6;

    &:hover {
      background: $disabled-color;
    }
  }

  &--to a {
    color: inherit;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
