$cardSizeMobile: 92vw;
.Card {
  position: relative;
  background: linear-gradient(135deg, #d4f1ff, #a8e0ff);
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
  padding: 8px;
  margin: 8px;

  @media (max-width: 768px) {
    padding: 8px;
    margin: 8px;
    width: $cardSizeMobile;
    height: 250px;
    max-width: $cardSizeMobile;
  }

  max-width: 300px;
  height: 300px;
  text-align: center;
  cursor: pointer;

  display: grid;
  justify-items: center;

  color: rgb(58, 58, 58);

  font-size: 1.2em;
  transition: transform 0.4s ease-in; /* Transition par défaut */
  perspective: 1000px;
  transform-style: preserve-3d;

  img {
    max-width: 200px;
    max-height: 200px;
    margin-top: 1em;
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__score {
    position: absolute;
    top: 1em;
    right: 1em;
    font-size: 0.8em;
    color: rgba(0, 0, 0, 0.767);
  }
  &__edit {
    position: absolute !important;
    top: 1em;
    left: 1em;
  }

  &--verso {
    /* Ajout de l'animation de spin */
    background: linear-gradient(135deg, #d9ffc8, #afff9f);
    grid-template-rows: 1fr 40px;
    align-items: center;
  }

  &--isFlipping {
    animation: card-spin 0.2s ease-in-out;
    transform: rotateY(180deg); /* Retourne la carte */
    transform: none; /* Ignore l'effet hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    pointer-events: none; /* Empêche d'autres interactions pendant l'animation */
  }
}
@keyframes card-spin {
  0% {
    transform: rotateY(0deg); /* Départ */
  }
  100% {
    transform: rotateY(180deg); /* Milieu */
  }
}
