@use "../../../styles//variables.scss" as *;

.Button {
  margin: 1rem 0;
  background: $primary-color;
  color: #ffffff;
  padding: 0.75rem;
  width: 100%;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.3s;
  &:hover {
    background: darken($primary-color, 5%);
  }
}
