@use "../components/molecules/Card/Card" as Card;
@use "../components/atoms/Input/Input" as Input;
@use "../components/atoms/Hint/Hint" as Hint;
@use "../components/atoms/Input/CategoryInput/CategoryInput" as CategoryInput;
@use "../components/atoms/ImagePaster/ImagePaster" as ImagePaster;
@use "../components/atoms/Button/Button" as Button;
@use "../components/atoms/Loader/Loader" as Loader;
@use "../components/atoms/ExpBar/ExpBar" as ExpBar;
@use "../components/pages/LoginPage/LoginPage" as LoginPage;
@use "../components/pages/UpgradePage/UpgradePage" as UpgradePage;
@use "../components/pages/HomePage/HomePage" as HomePage;
@use "../components/pages/GamePage/GamePageStyle" as GamePage;
@use "../components/pages/RegisterPage/RegisterPage" as RegisterPage;
@use "../components/pages/TokenErrorPage/TokenErrorPage" as NotFoundPage;
@use "../components/pages/UserPage/UserPage" as UserPage;
@use "../components/pages/CardFormPage/CardFormPage" as CardFormPage;
@use "../components/pages/AdventurePage/AdventurePage" as AdventurePage;
@use "../components/molecules/EditCardForm/EditCardForm" as EditCardForm;
@use "../components/molecules/Item/Item" as Item;
@use "../components/molecules/Navbar/Navbar" as Navbar;
@use "../components/molecules/Footer/Footer" as Footer;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Roboto+Slab:wght@300;400&display=swap");
/* Reset some default styles */
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "red hat text", sans-serif;
}

* {
  box-sizing: border-box;
}

.Page {
  margin-top: 60px;
  overflow-x: hidden;
}
.Admin {
  img {
    width: 200px;
    height: 200px;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 2rem;
    margin: 0.5rem 0;
  }
  h2 {
    font-size: 1.25rem;
    margin: 0.5rem 0;
  }
  h3 {
    font-size: 1rem;
    margin: 0.5rem 0;
  }
  p {
    font-size: 0.9rem;
  }
}

.BrainCell {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  &__score {
    display: flex;
    align-items: center;
  }
  &__image {
    width: 100px;
    height: 100px;

    // Grow and shrink animation
    animation: growShrink 2s infinite;
  }
}

@keyframes growShrink {
  0%,
  100% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1);
  }
}
