@use "../components/molecules/Card/Card" as Card;
@use "../components/atoms/Input/Input" as Input;
@use "../components/atoms/ImagePaster/ImagePaster" as ImagePaster;
@use "../components/atoms/SubmitButton/SubmitButton" as SubmitButton;
@use "../components/pages/LoginPage/LoginPage" as LoginPage;
@use "../components/pages/TokenErrorPage/TokenErrorPage" as NotFoundPage;
@use "../components/pages/CardFormPage/CardFormPage" as CardFormPage;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Roboto+Slab:wght@300;400&display=swap");
/* Reset some default styles */
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "red hat text", sans-serif;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

.Cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

  @media (max-width: 768px) {
    grid-template-columns: repeat(auto-fill, minmax(212px, 1fr));
  }

  &__magic-wand-button,
  &__flash-button {
    // Float bottom right
    position: fixed !important;
    bottom: 1rem;
    right: 1rem;
  }
}

.BrainCell {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  &__score {
    display: flex;
    align-items: center;
  }
  &__image {
    width: 100px;
    height: 100px;

    // Grow and shrink animation
    animation: growShrink 2s infinite;
  }
}

@keyframes growShrink {
  0%,
  100% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1);
  }
}

.Navbar {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: linear-gradient(to right, #22d3ee, #2dd4bf, #3b82f6);
  color: white;
  flex-direction: row;
  position: absolute;
  width: 100%;
  a {
    padding: 0.5rem 1rem;
    background-color: white;
    border-radius: 6px;
    color: #007bff;
    font-weight: bold;
    transition: transform 0.2s, background-color 0.2s;
    text-decoration: none;

    &:hover {
      background-color: #007bff;
      color: white;
      transform: scale(1.05);
    }
  }
}
