$primary-color: #4c64ec;
$secondary-color: #14b8a6;
$gray-color: #d2d6dc;
$background-gradient: linear-gradient(
  to bottom,
  $primary-color,
  $secondary-color
);
$text-color: #3f4a5e;
$link-color: #1a56db;
$danger-color: #f44336;
$disabled-color: #e0e0e0;
$disabled-text-color: #9e9e9e;

$NAVBAR_HEIGHT: 60px;
