.Shop {
  border: 2px solid #000;
  background-color: #f9f9f9;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  &__item {
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}
