.HomePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background: linear-gradient(135deg, #f5f7fa 0%, #b4d0fc 100%);
  min-height: calc(100vh - 60px);

  &__top-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
  }

  &__cards {
    display: flex;
    gap: 1.5rem;
  }

  &__card {
    width: 300px;
    padding: 1rem;
  }
}
