@use "../../../styles//variables.scss" as *;

.GamePage {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: $PAGE_HEIGHT;

  &__loader {
    width: 100%;
    height: $PAGE_HEIGHT;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__magic-wand-button,
    &__flash-button {
      // Float bottom right
      position: fixed !important;
      bottom: 1rem;
      right: 1rem;
    }
  }

  &__footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    background-color: #f8f9fa;
    border-top: 1px solid #dee2e6;

    &__element {
      display: flex;
      align-items: center;
      font-size: 1.2rem;
      color: #343a40;
    }

    .GamePage__icon {
      width: 24px;
      height: 24px;
      margin-right: 0.25rem;
    }

    &__flashmode {
      margin: 0 !important;
    }

    &__progress-bar {
      width: 200px;
      background-color: #e9ecef;
      border-radius: 0.25rem;
      overflow: hidden;
      position: relative;

      &__title {
        font-size: 1rem;
        color: #343a40;
        margin-right: 0.5rem;

        @media (max-width: 768px) {
          display: none; // Hide title on mobile
        }
      }
      &__fill {
        padding: 0.75rem;
        background-color: #007bff;
        transition: width 0.5s ease-in-out; /* Smooth transition for progress */
      }

      &__text {
        padding: 0.5rem;
        font-size: 0.875rem;
        color: #374151;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
.floating-coin {
  width: 24px;
  height: 24px;
  transition: all 1s ease-in-out; /* Smooth transition for position */
  z-index: 1000; /* Ensure the coin is above other elements */
}
