@use "../../../styles//variables.scss" as *;

.GamePage {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: $PAGE_HEIGHT;

  &__loader {
    width: 100%;
    height: $PAGE_HEIGHT;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Cards {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__magic-wand-button,
    &__flash-button {
      // Float bottom right
      position: fixed !important;
      bottom: 1rem;
      right: 1rem;
    }
  }
}
.floating-coin {
  width: 24px;
  height: 24px;
  transition: all 1s ease-in-out; /* Smooth transition for position */
  z-index: 1000; /* Ensure the coin is above other elements */
}
