.UserProfile {
  &__Currencies {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  &__currency {
    display: flex;
    align-items: center;
    margin: 0 10px;

    img {
      width: 50px;
      height: 50px;
      margin-right: 10px;
    }

    &-info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    &-amount {
      font-size: 1.5em;
      font-weight: bold;
    }

    &-label {
      font-size: 0.9em;
      color: #666;
    }
  }
}
